body{
    background: #D3DEDC;
}

.Title{
    margin-top: -10px;
    margin-left: 1280px;
    margin-bottom: 50px;
}

.adjustimage1{
    margin-bottom: 35px;
    margin-top: 18px;
}

.adjustimage2{
    margin-bottom: 33px;
    margin-top: 19px;
}

.adjustimage3{
    margin-top: 30px;
    margin-bottom: 58px;
}

.adjustimage4{
    margin-bottom: 52px;
    margin-top: 25px;
}

.dbn1 {
    display: block;
    color: transparent;
    margin-top: 22px;
    margin-bottom: 42px;
}

.dbn2 {
    display: block;
    color:transparent;
    margin-top: 40px;
    margin-bottom: 25px;
}

.dbn3 {
    display: block;
    color: transparent;
    margin-top: 40px;
    margin-bottom: 28px;
}

.dbn4 {
    display: block;
    color: transparent;
    margin-top: 40px;
    margin-bottom: 29px;
}

.price {
    display: block;
}

.column {
    float: left;
    display: block;
    width: 50%;
    padding: 0 0 50px 4px;
}

@media screen and (max-width:1024px) {  
    .adjustimage1{
        margin-left: 9px;
    }

    .adjustimage2{
        margin-left: 8px;
    }

    .adjustimage3{
        margin-left: 5px;
    }
}