body{
    background: #D3DEDC;
}

.Title{
    margin-top: 5px;
    margin-left: 1250px;
    margin-bottom: 50px;
}

.adjustimage1{
    margin-bottom: 2px;
    margin-top: 20px;
}

.adjustimage2{
    margin-bottom: 17px;
    margin-top: 19px;
}

.adjustimage3{
    margin-top: 38px;
    margin-bottom: 55px;
}

.adjustimage4{
    margin-bottom: 38px;
    margin-top: 25px;
    margin-left: -30px;
}

.adjustimage5{
    margin-bottom: -40px;
    margin-top: 10px;
    margin-left: 5px;
}

.adjustimage6{
    margin-bottom: -80px;
    margin-top: 19px;
    margin-left: 10px;
}


.dbn1 {
    display: block;
    color: transparent;
    margin-top: 22px;
    margin-bottom: 39px;
}

.dbn2 {
    display: block;
    color:transparent;
    margin-top: 32px;
    margin-bottom: 30px;
}

.dbn3 {
    display: block;
    color: transparent;
    margin-top: 40px;
    margin-bottom: 26px;
}

.dbn4 {
    display: block;
    color: transparent;
    margin-top: 38px;
    margin-bottom: 28px;
}

.dbn5 {
    display: block;
    color: transparent;
    margin-top: 40px;
    margin-bottom: 10px;
}

.dbn6 {
    display: block;
    color: transparent;
    margin-top: 0px;
    margin-bottom: 30px;
}

.price {
    display: block;
}

.column {
    float: left;
    display: block;
    width: 50%;
    padding: 0 0 50px 4px;
}

@media screen and (max-width:600px) {  
    .adjustimage1{
        margin-left: -5px;
    }

    .adjustimage3{
        width: 80%;
        margin-left: 10px;
    }

    .adjustimage5{
        width: 50%;
        margin-left: -13px;
    }

    .adjustimage6{
        width: 50%;
        margin-left: -40px;
    }
}